header {
    position: fixed;
    padding-top: 10px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    z-index: 2;

}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
    border-top: 1px solid #ccc;
    z-index: 1;

}
